In [96]:
import pandas as pd

file_to_load = "Resources\purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [97]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [98]:
uniqueSN = purchase_data['SN'].unique()
totalplayers = len(uniqueSN)

In [99]:
summary = {}
summary['Number of Unique Items'] = len(purchase_data['Item Name'].unique())

In [100]:
summary['Average Price'] = purchase_data['Price'].mean()

In [101]:
summary['Number of Purchases'] = len(purchase_data['Purchase ID'].unique())

In [102]:
summary['Total Revenue'] = purchase_data['Price'].sum()

In [103]:
df = pd.DataFrame(summary, index = [0])
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [104]:
gendernumber = purchase_data.groupby('Gender')['SN'].nunique()

percent = gendernumber / totalplayers 

genderdic = {'Total Count': gendernumber, 'Percentage of Players': percent }

df = pd.DataFrame(genderdic)
df.style.format({'Percentage of Players':'{:.2%}'})

In [105]:
purchasecount = purchase_data.groupby('Gender')['Purchase ID'].count()
purchaseave = purchase_data.groupby('Gender')['Price'].mean()
purchasetotal = purchase_data.groupby('Gender')['Price'].sum()
perplayer = purchasetotal/gendernumber
purchasedic = {'Purchase Count': purchasecount, 'Average Price': purchaseave, 'Total Price': purchasetotal, 'Per Player': perplayer}
pdf = pd.DataFrame(purchasedic)
pdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [112]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
range_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+" ]

purchase_data["bin"] = pd.cut(purchase_data["Age"], bins, labels = range_names, include_lowest = True)

purchase_databin = purchase_data.groupby("bin")
age = purchase_databin['SN'].nunique()
percentage_age = age/totalplayers
agedic = {'Total Count': age, 'Percentage of Players': percentage_age}
age_summary = pd.DataFrame(agedic)
age_summary.style.format({'Percentage of Players':'{:.2%}'})

bin
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [117]:
purchaseagecount = purchase_databin['Purchase ID'].count()
purchaseageave = purchase_databin['Price'].mean()
purchaseagetotal = purchase_databin['Price'].sum()
perageplayer = purchaseagetotal/age
purchaseagedic = {'Purchase Count': purchaseagecount, 'Average Price': purchaseageave, 'Total Price': purchaseagetotal, 'Per Player': perageplayer}
adf = pd.DataFrame(purchaseagedic)
adf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [130]:
SNs = purchase_data.groupby('SN')['Purchase ID'].count().nlargest(5)

In [131]:
purchase_data.loc[purchase_data['SN'].isin(SNs)]

Empty DataFrame
Columns: [Purchase ID, SN, Age, Gender, Item ID, Item Name, Price, bin]
Index: []