In [1]:
import pandas as pd

file_to_load = "Resources\purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
uniqueSN = purchase_data['SN'].unique()
totalplayers = len(uniqueSN)

In [4]:
summary = {}
summary['Number of Unique Items'] = len(purchase_data['Item Name'].unique())

In [5]:
summary['Average Price'] = purchase_data['Price'].mean()

In [6]:
summary['Number of Purchases'] = len(purchase_data['Purchase ID'].unique())

In [7]:
summary['Total Revenue'] = purchase_data['Price'].sum()

In [8]:
df = pd.DataFrame(summary, index = [0])
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
gendernumber = purchase_data.groupby('Gender')['SN'].nunique()

percent = gendernumber / totalplayers 

genderdic = {'Total Count': gendernumber, 'Percentage of Players': percent }

df = pd.DataFrame(genderdic)
df.style.format({'Percentage of Players':'{:.2%}'})

In [10]:
purchasecount = purchase_data.groupby('Gender')['Purchase ID'].count()
purchaseave = purchase_data.groupby('Gender')['Price'].mean()
purchasetotal = purchase_data.groupby('Gender')['Price'].sum()
perplayer = purchasetotal/gendernumber
purchasedic = {'Purchase Count': purchasecount, 'Average Price': purchaseave, 'Total Price': purchasetotal, 'Per Player': perplayer}
pdf = pd.DataFrame(purchasedic)
pdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [11]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
range_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+" ]

purchase_data["bin"] = pd.cut(purchase_data["Age"], bins, labels = range_names, include_lowest = True)

purchase_databin = purchase_data.groupby("bin")
age = purchase_databin['SN'].nunique()
percentage_age = age/totalplayers
agedic = {'Total Count': age, 'Percentage of Players': percentage_age}
age_summary = pd.DataFrame(agedic)
age_summary.style.format({'Percentage of Players':'{:.2%}'})

In [12]:
purchaseagecount = purchase_databin['Purchase ID'].count()
purchaseageave = purchase_databin['Price'].mean()
purchaseagetotal = purchase_databin['Price'].sum()
perageplayer = purchaseagetotal/age
purchaseagedic = {'Purchase Count': purchaseagecount, 'Average Price': purchaseageave, 'Total Price': purchaseagetotal, 'Per Player': perageplayer}
adf = pd.DataFrame(purchaseagedic)
adf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [40]:
SNs = purchase_data.groupby('SN')['Price'].sum().nlargest(5)
SNs.index

Index(['Lisosia93', 'Idastidru52', 'Chamjask73', 'Iral74', 'Iskadarya95'], dtype='object', name='SN')

In [41]:
topfive = purchase_data[purchase_data.SN.isin(SNs.index)]
topfive

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,bin
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81,25-29
128,128,Iral74,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
148,148,Iskadarya95,20,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
224,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80,25-29
247,247,Iskadarya95,20,Male,82,Nirvana,4.90,20-24
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93,20-24
318,318,Iskadarya95,20,Male,91,Celeste,4.17,20-24
490,490,Idastidru52,24,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
520,520,Chamjask73,22,Female,109,"Downfall, Scalpel Of The Emperor",4.76,20-24
543,543,Idastidru52,24,Male,121,Massacre,1.60,20-24
564,564,Chamjask73,22,Female,52,Hatred,4.84,20-24
603,603,Lisosia93,25,Male,132,Persuasion,3.19,25-29
609,609,Lisosia93,25,Male,40,Second Chance,2.52,25-29
623,623,Iral74,21,Male,114,Yearning Mageblade,3.82,20-24
676,676,Idastidru52,24,Male,111,Misery's End,4.89,20-24
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24

In [48]:
topfivemean = topfive.groupby('SN')['Price'].mean()
topfivetotal = topfive.groupby('SN')['Purchase ID'].count()
topfivedic = {'Purchase Count': topfivetotal, 'Average Price': topfivemean, 'Total Price': SNs}
topdf = pd.DataFrame(topfivedic).sort_values("Total Price", ascending = False)
topdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}'})