In [25]:
import pandas as pd

file_to_load = "Resources\purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [26]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
uniqueSN = purchase_data['SN'].unique()
totalplayers = len(uniqueSN)

In [28]:
summary = {}
summary['Number of Unique Items'] = len(purchase_data['Item Name'].unique())

In [29]:
summary['Average Price'] = purchase_data['Price'].mean()

In [30]:
summary['Number of Purchases'] = len(purchase_data['Purchase ID'].unique())

In [31]:
summary['Total Revenue'] = purchase_data['Price'].sum()

In [32]:
df = pd.DataFrame(summary, index = [0])
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [44]:
gendernumber = purchase_data.groupby('Gender')['SN'].nunique()

percent = gendernumber / totalplayers 

genderdic = {'Total Count': gendernumber, 'Percentage of Players': percent }

df = pd.DataFrame(genderdic)
df.style.format({'Percentage of Players':'{:.2%}'})

In [47]:
purchasecount = purchase_data.groupby('Gender')['Purchase ID'].count()
purchaseave = purchase_data.groupby('Gender')['Price'].mean()
purchasetotal = purchase_data.groupby('Gender')['Price'].sum()
perplayer = purchasetotal/gendernumber
purchasedic = {'Purchase Count': purchasecount, 'Average Price': purchaseave, 'Total Price': purchasetotal, 'Per Player': perplayer}
pdf = pd.DataFrame(purchasedic)
pdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})