In [47]:
#dependancies
import pandas as pd

#load csv file
file_to_load = "Resources\purchase_data.csv"

#csv data to dataframe
purchase_data = pd.read_csv(file_to_load)

In [48]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
#finds unique player id
totalplayers = purchase_data['SN'].nunique()

#makes dictionary of player number
playerdic = {'Total Players': totalplayers}

#outputs player number as dataframe
pd.DataFrame(playerdic, index =[0])

   Total Players
0            576

In [50]:
#creates summary dictionary from purchase_data
summary = {}
summary['Number of Unique Items'] = purchase_data['Item Name'].nunique()
summary['Average Price'] = purchase_data['Price'].mean()
summary['Number of Purchases'] = purchase_data['Purchase ID'].nunique()
summary['Total Revenue'] = purchase_data['Price'].sum()

In [51]:
#converts summary dictionary to dataframe
summarydf = pd.DataFrame(summary, index = [0])

#displays formatted dataframe 
summarydf.style.format({'Average Price':'${:.2f}', 'Total Revenue':'${:.2f}'})

In [52]:
#groups by gender and counts unique players
gendernumber = purchase_data.groupby('Gender')['SN'].nunique()

#finds percntage of players per gender catagory
percent = gendernumber / totalplayers 

#creates dictionary of gender statistics
genderdic = {'Total Count': gendernumber, 'Percentage of Players': percent }

#converts to dataframe
df = pd.DataFrame(genderdic)

#displays and formats dataframe
df.style.format({'Percentage of Players':'{:.2%}'})

In [53]:
#groups by gender to get purchase statistics
purchasecount = purchase_data.groupby('Gender')['Purchase ID'].count()
purchaseave = purchase_data.groupby('Gender')['Price'].mean()
purchasetotal = purchase_data.groupby('Gender')['Price'].sum()
perplayer = purchasetotal/gendernumber

#creates dictionary of gender purchase statistics
purchasedic = {'Purchase Count': purchasecount, 'Average Price': purchaseave, 'Total Price': purchasetotal, 'Per Player': perplayer}

#converts dictionary to dataframe
pdf = pd.DataFrame(purchasedic)

#displays formatted dataframe
pdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [54]:
#list of age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#list of bin names
range_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+" ]

#appends bins to purchase_data
purchase_data["bin"] = pd.cut(purchase_data["Age"], bins, labels = range_names, include_lowest = True)

#groups by bins to obtain age group statistics
age = purchase_data.groupby('bin')['SN'].nunique()
percentage_age = age/totalplayers
agedic = {'Total Count': age, 'Percentage of Players': percentage_age}
age_summary = pd.DataFrame(agedic)
age_summary.style.format({'Percentage of Players':'{:.2%}'})

In [55]:
#groups by bins to obtain age group purchasing statistics
purchaseagecount = purchase_data.groupby('bin')['Purchase ID'].count()
purchaseageave = purchase_data.groupby('bin')['Price'].mean()
purchaseagetotal = purchase_data.groupby('bin')['Price'].sum()
perageplayer = purchaseagetotal/age

#creates dictionary of age purchase statistics
purchaseagedic = {'Purchase Count': purchaseagecount, 'Average Price': purchaseageave, 'Total Price': purchaseagetotal, 'Per Player': perageplayer}

#converts dictionary to dataframe
adf = pd.DataFrame(purchaseagedic)

#displays formatted dataframe
adf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [56]:
#groups by player id to obtain player purchasing statistics
tsmean = purchase_data.groupby('SN')['Price'].mean()
tstotal = purchase_data.groupby('SN')['Purchase ID'].count()
tssum = purchase_data.groupby('SN')['Price'].sum()

#creates dictionary of player purchase statistics
tsdic = {'Purchase Count': tstotal, 'Average Price': tsmean, 'Total Price': tssum}

#converts dictionary to dataframe specifies preview of top entries
topdf = pd.DataFrame(tsdic).sort_values("Total Price", ascending = False).head()

#displays formatted dataframe
topdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}'})

In [57]:
#groups by item id and name to obtain item purchasing statistics
topitemsmean = purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
topitemscount = purchase_data.groupby(['Item ID','Item Name'])['Price'].count()
topitemstotal = purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()

#creates dictionary of item purchase statistics
topitemsdic = {'Purchase Count': topitemscount, 'Item Price': topitemsmean, 'Total Price': topitemstotal}

#converts dictionary to dataframe specifies preview of top entries and sort values by descending purchase count
topidf = pd.DataFrame(topitemsdic).sort_values("Purchase Count", ascending = False).head()

#displays formatted dataframe
topidf.style.format({'Item Price': '${:.2f}', 'Total Price': '${:.2f}'})

In [58]:
#converts dictionary to dataframe specifies preview of top entries and sort values by descending total price
toppf = pd.DataFrame(topitemsdic).sort_values("Total Price", ascending = False).head()

#displays formatted dataframe
toppf.style.format({'Item Price': '${:.2f}', 'Total Price': '${:.2f}'})