In [116]:
#dependancies
import pandas as pd

#load csv file
file_to_load = "Resources\purchase_data.csv"
#csv data to dataframe
purchase_data = pd.read_csv(file_to_load)

In [117]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [118]:
uniqueSN = purchase_data['SN'].unique()

dic = {'Total Players': len(uniqueSN)}

pd.DataFrame(dic, index =[0])

   Total Players
0            576

In [119]:
summary = {}
summary['Number of Unique Items'] = len(purchase_data['Item Name'].unique())

In [120]:
summary['Average Price'] = purchase_data['Price'].mean()

In [121]:
summary['Number of Purchases'] = len(purchase_data['Purchase ID'].unique())

In [122]:
summary['Total Revenue'] = purchase_data['Price'].sum()

In [123]:
df = pd.DataFrame(summary, index = [0])
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [124]:
gendernumber = purchase_data.groupby('Gender')['SN'].nunique()

percent = gendernumber / totalplayers 

genderdic = {'Total Count': gendernumber, 'Percentage of Players': percent }

df = pd.DataFrame(genderdic)
df.style.format({'Percentage of Players':'{:.2%}'})

In [125]:
purchasecount = purchase_data.groupby('Gender')['Purchase ID'].count()
purchaseave = purchase_data.groupby('Gender')['Price'].mean()
purchasetotal = purchase_data.groupby('Gender')['Price'].sum()
perplayer = purchasetotal/gendernumber
purchasedic = {'Purchase Count': purchasecount, 'Average Price': purchaseave, 'Total Price': purchasetotal, 'Per Player': perplayer}
pdf = pd.DataFrame(purchasedic)
pdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [126]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
range_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+" ]

purchase_data["bin"] = pd.cut(purchase_data["Age"], bins, labels = range_names, include_lowest = True)

purchase_databin = purchase_data.groupby("bin")
age = purchase_databin['SN'].nunique()
percentage_age = age/totalplayers
agedic = {'Total Count': age, 'Percentage of Players': percentage_age}
age_summary = pd.DataFrame(agedic)
age_summary.style.format({'Percentage of Players':'{:.2%}'})

In [127]:
purchaseagecount = purchase_databin['Purchase ID'].count()
purchaseageave = purchase_databin['Price'].mean()
purchaseagetotal = purchase_databin['Price'].sum()
perageplayer = purchaseagetotal/age
purchaseagedic = {'Purchase Count': purchaseagecount, 'Average Price': purchaseageave, 'Total Price': purchaseagetotal, 'Per Player': perageplayer}
adf = pd.DataFrame(purchaseagedic)
adf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}','Per Player': '${:.2f}'})

In [128]:
tsmean = purchase_data.groupby('SN')['Price'].mean()
tstotal = purchase_data.groupby('SN')['Purchase ID'].count()
tssum = purchase_data.groupby('SN')['Price'].sum()
tsdic = {'Purchase Count': tstotal, 'Average Price': tsmean, 'Total Price': tssum}
topdf = pd.DataFrame(tsdic).sort_values("Total Price", ascending = False).head()
topdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}'})

In [129]:
topitemsmean = purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
topitemscount = purchase_data.groupby(['Item ID','Item Name'])['Price'].count()
topitemstotal = purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()

topitemsdic = {'Purchase Count': topitemscount, 'Average Price': topitemsmean, 'Total Price': topitemstotal}
topidf = pd.DataFrame(topitemsdic).sort_values("Purchase Count", ascending = False).head()

topidf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}'})

In [130]:
topprofitmean = purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
topprofitcount = purchase_data.groupby(['Item ID','Item Name'])['Price'].count()
topprofittotal = purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()

topprofitdic = {'Purchase Count': topprofitcount, 'Average Price': topprofitmean, 'Total Price': topprofittotal}
topprofdf = pd.DataFrame(topprofitdic).sort_values("Total Price", ascending = False).head()

topprofdf.style.format({'Average Price': '${:.2f}', 'Total Price': '${:.2f}'})