In [2]:
import pandas as pd

file_to_load = "Resources\purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [30]:
tptalplayers = len(purchase_data['SN'].unique())

In [31]:
summary = {}
summary['Number of Unique Items'] = len(purchase_data['Item Name'].unique())

In [32]:
summary['Average Price'] = purchase_data['Price'].mean()

In [33]:
summary['Number of Purchases'] = len(purchase_data['Purchase ID'].unique())

In [34]:
summary['Total Revenue'] = purchase_data['Price'].sum()

In [35]:
df = pd.DataFrame(summary, index = [0])
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [45]:


gendernumber = purchase_data.groupby('Gender')['SN'].count()


#genderdic = {'Total Count': }

TypeError: cannot convert the series to <class 'int'>